{
    "KeyboardShortcuts_delete" = "{\\"carbonModifiers\\":2048,\\"carbonKeyCode\\":51}";
    "KeyboardShortcuts_pin" = "{\\"carbonModifiers\\":2048,\\"carbonKeyCode\\":35}";
    "KeyboardShortcuts_popup" = "{\\"carbonKeyCode\\":9,\\"carbonModifiers\\":768}";
    "NSStatusItem Visible Item-1" = 0;
    SUEnableAutomaticChecks = 1;
    SUHasLaunchedBefore = 1;
    enabledPasteboardTypes =     (
        "public.utf8-plain-text",
        "public.html",
        "public.file-url",
        "public.rtf",
        "public.tiff",
        "public.png"
    );
    menuIcon = scissors;
    pasteByDefault = 1;
    pinTo = top;
    popupPosition = window;
    removeFormattingByDefault = 1;
    searchMode = fuzzy;
    showFooter = 1;
    showSearch = 1;
    showTitle = 1;
    windowSize = "[450,800]";
}
