<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardShortcuts_popup</key>
	<string>{"carbonModifiers":768,"carbonKeyCode":9}</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>menuIcon</key>
	<string>scissors</string>
	<key>pasteByDefault</key>
	<true/>
	<key>pinTo</key>
	<string>top</string>
	<key>popupPosition</key>
	<string>cursor</string>
	<key>removeFormattingByDefault</key>
	<true/>
	<key>searchMode</key>
	<string>fuzzy</string>
</dict>
</plist>
